.terraform/*
.terraform.lock.hcl
terraform.tfvars
outputs.tf
key-files/README.md
key-files/ansible
key-files/ansible.pub
key-files/devops_project
key-files/devops_project.pub
key-files/id_ed25519
key-files/id_ed25519.pub
vm_status.tf
