version: '3.7'

services:

  visualizer:
    image: dockersamples/visualizer:stable
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080"
    networks:
      - vprofile
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager

  nginx:
    image: nginx
    volumes:
      - nginx_data:/usr/share/nginx/html
    ports:
      - "80:80"
    networks:
      - vprofile
    deploy:
      replicas: 2
      placement:
        constraints:
          - node.role == worker

  postgres:
    image: postgres
    volumes:
      - pg_data:/var/lib/postgresql
    networks:
      - vprofile
    secrets:
      - source: PG_PASS
        target: PG_PASS
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/PG_PASS
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker

  wordpress:
    image: wordpress
    ports:
      - "8000:80"
    volumes:
      - wp_data:/var/lib/postgresql
    networks:
      - vprofile
    depends_on:
      - db
    secrets:
      - source: DB_USER
        target: DB_USER
      - source: DB_PASS
        target: DB_PASS
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER_FILE: /run/secrets/DB_USER
      WORDPRESS_DB_PASSWORD_FILE: /run/secrets/DB_PASS
      WORDPRESS_DB_NAME: vprofile
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker

  db:
    image: mysql:5.6
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - vprofile
    secrets:
      - source: DB_USER
        target: DB_USER
      - source: DB_PASS
        target: DB_PASS
      - source: DB_ROOT_PASS
        target: DB_ROOT_PASS
    environment:
      MYSQL_USER_FILE: /run/secrets/DB_USER
      MYSQL_PASSWORD_FILE: /run/secrets/DB_PASS
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/DB_ROOT_PASS
      MYSQL_DATABASE: vprofile
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.25"
          memory: 512M
      placement:
        constraints:
          - node.role == worker

networks:
  vprofile:
    driver: overlay

volumes:
  nginx_data:
  pg_data:
  db_data:
  wp_data:

secrets:
  PG_PASS:
    external: true
  DB_USER:
    external: true
  DB_PASS:
    external: true
  DB_ROOT_PASS:
    external: true