services:
  visualizer:
    image: dockersamples/visualizer:stable
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "9000:8080"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure

  db:
    image: mysql:5.6
    environment:
      MYSQL_USER: wordpressuser
      MYSQL_PASSWORD: wordpress
      MYSQL_ROOT_PASSWORD: mypassword
      MYSQL_DATABASE: wordpress
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - wordpress-network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "0.25"
          memory: 512M
    # This healthcheck block is specifically for MySQL in your Swarm service.
    # It tells Docker: “Only mark this DB container as healthy if MySQL is actually ready to accept connections.”
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  wordpress:
    image: wordpress:latest
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpressuser
      WORDPRESS_DB_PASSWORD: wordpress
    volumes:
      - wp_data:/var/www/html
    networks:
      - wordpress-network
    ports:
      - "8080:80"
    deploy:
      replicas: 3
      placement:
        constraints:
          - node.role == worker
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "0.25"
          memory: 512M
    depends_on:
      - db

volumes:
  wp_data:
  db_data:

networks:
  wordpress-network:
    driver: overlay